<div class="flex items-center justify-between h-14 text-white bg-blue-900">
  <div class="font-semibold ml-4 tracking-wider uppercase">
    Informações Adicionais
  </div>

  <button mat-icon-button mat-dialog-close [tabIndex]="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div
    [formGroup]="formInfo"
    class="space-y-5 w-full sm:min-w-96 lg:min-w-[40rem]"
  >
    <div class="flex flex-col">
      <mat-label
        >Informações sobre a visualização da pessoa desaparecida:</mat-label
      >

      <input matInput type="text" formControlName="informacoes" />
    </div>

    <div class="flex flex-col w-40">
      <mat-label>Data sobre a visualização:</mat-label>

      <input
        matInput
        type="text"
        formControlName="data"
        mask="d0/M0/0000"
        [dropSpecialCharacters]="false"
        [leadZeroDateTime]="true"
      />
    </div>

    <div class="flex flex-col">
      <mat-label>Descrição das fotos:</mat-label>

      <input matInput type="text" formControlName="descricao" />
    </div>

    <fieldset class="border w-full p-4 rounded-md bg-gray-50 text-black">
      <legend class="bg-gray-200 p-2 px-2 rounded-md text-xs font-medium">
        Lista de Fotos
      </legend>

      @if (listaFotos.length > 0) {
      <!---->
      @for (foto of listaFotos; track $index) {
      <div class="flex flex-row justify-between">
        <div class="text-black">
          {{ foto.file.name }}
        </div>

        <div class="flex flex-row justify-end">
          <div
            class="text-blue-700 hover:text-blue-500"
            matTooltip="Visualiza a foto"
            matTooltipShowDelay="500"
            (click)="visualizarFoto($index)"
          >
            <mat-icon>visibility</mat-icon>
          </div>

          <div
            class="text-red-700 hover:text-red-500"
            matTooltip="Apaga a foto"
            matTooltipShowDelay="500"
            (click)="removerFoto($index)"
          >
            <mat-icon>delete</mat-icon>
          </div>
        </div>
      </div>
      } } @else {
      <div>Não existem fotos anexadas!</div>
      <!---->
      }
    </fieldset>

    <div class="border-t mt-2 mb-2"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex flex-row justify-between w-full">
    <div>
      <anexar-fotos (fotosNovas)="adicionarFotos($event)"></anexar-fotos>
    </div>

    <div class="flex flex-row">
      <div class="p-2">
        <button
          type="button"
          mat-raised-button
          mat-dialog-close
          class="!bg-blue-900 !text-white hover:!bg-blue-600"
          matTooltip="Fechar"
          matTooltipShowDelay="500"
        >
          Voltar
        </button>
      </div>

      <div class="p-2">
        <button
          type="button"
          mat-raised-button
          class="!bg-blue-900 !text-white hover:!bg-blue-600"
          matTooltip="Voltar para tela inicial"
          matTooltipShowDelay="500"
          (click)="enviar()"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
