<div [formGroup]="formFiltrar">
  <fieldset class="border w-full p-4 rounded-md bg-gray-50">
    <legend class="bg-gray-200 p-2 px-2 rounded-md text-xs font-medium">
      Realiza pesquisa na base de dados de pessoas desaparecidas
    </legend>

    <div class="flex flex-row flex-wrap lg:flex-nowrap space-y-5 lg:space-y-0">
      <!-- nome -->
      <div class="flex flex-col w-full mr-5">
        <mat-label>Nome:</mat-label>

        <input
          matInput
          type="text"
          formControlName="nome"
          placeholder="digite um nome"
        />
      </div>

      <!-- faixa etaria -->
      <div class="flex flex-col">
        <mat-label>Faixa Etária:</mat-label>

        <div class="flex flex-row mr-5">
          <div class="mr-1">
            <input
              matInput
              type="text"
              formControlName="nome"
              placeholder="De"
              mask="999"
            />
          </div>

          <div>
            <input
              matInput
              type="text"
              formControlName="nome"
              placeholder="Ate"
              mask="999"
            />
          </div>
        </div>
      </div>

      <!-- sexo -->
      <div class="flex flex-col mr-5 min-w-40">
        <mat-label>Sexo:</mat-label>

        <mat-select formControlName="sexo" placeholder="Escolha um sexo">
          @for (sexo of listaSexo; track $index) {
          <mat-option [value]="sexo" class="uppercase">
            {{ sexo.descricao }}
          </mat-option>
          }
        </mat-select>
      </div>

      <!-- situacao -->
      <div class="flex flex-col min-w-40">
        <mat-label>Situação:</mat-label>

        <mat-select formControlName="status" placeholder="Escolha uma situação">
          @for (situacao of listaSituacao; track $index) {
          <mat-option [value]="situacao" class="uppercase">
            {{ situacao.descricao }}
          </mat-option>
          }
        </mat-select>
      </div>
    </div>

    <div class="mt-5 mb-5"></div>

    <div class="flex flex-row justify-end space-x-5">
      @if (filtrando) {
      <button
        type="button"
        mat-raised-button
        class="!bg-yellow-600 !text-white hover:!bg-yellow-400"
        matTooltip="Remove/Limpa o filtro aplicado"
        matTooltipShowDelay="500"
        (click)="limparFiltro()"
      >
        Limpa a Pesquisa
      </button>
      }

      <button
        type="button"
        mat-raised-button
        class="!bg-blue-900 !text-white hover:!bg-blue-600"
        matTooltip="Aplica o filtro com os dados informados"
        matTooltipShowDelay="500"
        (click)="aplicaFiltro()"
      >
        Pesquisar
      </button>
    </div>
  </fieldset>
</div>
